
.card {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 35px 1fr;
    background-color: rgb(230, 230, 230);
    border-radius: 16px;

    padding: 12px;
}

.card-header {
    line-height: 35px;
    font-size: 1.2em;
}

.card-body {
    padding: 6px;
}