<div class="content-browser">
    <div class="content-section">
        <app-paginated-data [page]="entityPage" (setPageNumber)="gotoPage($event)">
            <ng-container *ngIf="!isLoading">
                <ng-container *ngIf="entityPage?.data">
                    <ng-content select="[display]"></ng-content>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="isLoading">
                <app-skeleton-placeholder></app-skeleton-placeholder>
                <app-skeleton-placeholder></app-skeleton-placeholder>
                <app-skeleton-placeholder></app-skeleton-placeholder>
                <app-skeleton-placeholder></app-skeleton-placeholder>
                <app-skeleton-placeholder></app-skeleton-placeholder>
                <app-skeleton-placeholder></app-skeleton-placeholder>
                <app-skeleton-placeholder></app-skeleton-placeholder>
                <app-skeleton-placeholder></app-skeleton-placeholder>
                <app-skeleton-placeholder></app-skeleton-placeholder>
                <app-skeleton-placeholder></app-skeleton-placeholder>
            </ng-container>
        </app-paginated-data>
    </div>
    <div class="filter-section">
        <ng-content select="[filter]"></ng-content>
    </div>
</div>