<div class="field">
    <label for="field">{{ label }}:</label>
    <ng-container *ngIf="['text', 'number', 'email'].includes(type)">
        <input 
            #field 
            [placeholder]="label" 
            [attr.list]="list"
            [type]="type" 
            [ngModel]="value"
            (ngModelChange)="setValue($event)"
            (blur)="onBlur()"
        />
    </ng-container>
    <ng-container *ngIf="type === 'dropdown'">
        <select #field (blur)="onBlur()" [ngModel]="value" (ngModelChange)="setValue($event)">
            <ng-container *ngFor="let option of dropdownKeys()">
                <option [value]="option">{{ dropdownValues[option] }}</option>
            </ng-container>
        </select>
    </ng-container>
    <ng-container *ngIf="type === 'textarea'">
        <textarea 
            #field 
            [placeholder]="label" 
            (blur)="onBlur()"
            [ngModel]="value"
            (ngModelChange)="setValue($event)"
        ></textarea>
    </ng-container>
</div>